/* Corp de la page */
body{
    margin: 0;
    padding: 0;
    background-color: rgb(3, 0, 20);
}

html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}



/* ENTETE */

#entete{
    display: flex;
    justify-content: flex-end;
    margin: 30px;
    word-spacing: 20px;
    align-items: center;
    position: sticky;
    top: 30px;
}

#entete #logo img{
    width: 40px;
    height: 40%;
    border-radius: 10px;
}

#entete #logo{
    position: absolute;
    left: 0;
    bottom: 0;
}

#entete a{
    text-decoration: none;
    color: rgb(136, 146, 176);
}

#entete a:hover{
    text-decoration: underline;
    color: rgb(92, 234, 203);
    transition-duration: 0.5s;
   
}

button:hover{
   background-color: rgb(19, 48, 64);
   transition-duration: 0.5s;
}

button {
    color: rgb(100, 255, 218);
    background-color: rgb(3, 0, 20);
    border: 1px solid ;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    font-family: monospace;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    transition: 1;
    margin-left: 15px;
    font-size: var(--fz-xs);
}

#Menu button a{
    text-decoration: none;
    color: rgb(100, 255, 218);
}

/* INTRODUCTION */



#Intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
   
}

#intro1{
    color: rgb(92, 234, 203);
    font-size: 20px;
    margin-bottom: 30px;
}

.waviy {
    position: relative;
  }
.waviy span {
    color: rgb(204, 214, 246);
    font-size: 70px;
    font-family: 'DM Serif Display', serif;
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 3s infinite;
    animation-delay: calc(.1s * var(--i));
    text-shadow: 0 0 10px #fff, 0 0 20px rgb(92, 234, 203), 0 0 30px rgb(3, 0, 20), 0 0 20px #710486, 0 0 20px #710486, 0 0 20px #710486, 0 0 20px #710486, 0 0 20px #710486;
}

  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}

#intro3{
    color: rgb(136, 146, 176);
    font-size: 50px;
    margin-bottom: 30px;
}

#intro4{
    color: rgb(136, 146, 176);
    font-size: 21px;
    margin-bottom: 30px;
}

#intro4 a{
    text-decoration: none;
    color: rgb(92, 234, 203);
}

#intro4 a:hover{
    text-decoration: underline;
}

/* A propos de moi */

#background_about-me{
    background-color: rgb(245, 245, 245);

}
#about-me{
    display: flex;
    align-items: center;
    margin-top: 400px;
    padding: 10%;
}

#about-me p{
    color: rgb(3, 0, 20);
}

#titre-logo{
    display: flex;
    align-items: center;
    color: rgb(3, 0, 20);
}



#titre-logo img{
    margin-left: 20px;
    width: 40px;
    height: 40%;
    border-radius: 10px;
}

#image-moi img{
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
    border: 3px solid rgb(3, 0, 20);

}

#text{
    width: 110%;
    margin-right: 20%;
    color: rgb(145, 151, 168);
    font-size: 20px;
}

#text h1 span{
    color: rgb(92, 234, 203);
}



@media screen and (max-width: 520px) {

    #about-me p {
       
        text-align: center;
        font-size: 18px;
    }



}


/* Skills */
#skills{
    background-color: rgb(245, 245, 245);
    height: 80vh;
    margin-top: 180px;
}

.all_skills {
    display: flex;
    justify-content: center;
}

.skill_front{
    display: flex;
    border: 2px solid #9da2ad;
    padding: 4em;
    border-radius: 20px;
    position: relative;
}

.skill_front::before{
    content: "Mes Compétences Front-end";
    position: relative;
    top: -80px;
    left: 0;
    padding: 5px 10px;
    background-color: rgb(245, 245, 245);
    color: #9da2ad;
}



.skill_back{
    display: flex;
    border: 2px solid #9da2ad;
    padding: 4em;
    border-radius: 20px;
    position: relative;
}

.skill_back::before{
    content: "Mes Compétences Back-End";
    position: relative;
    top: -80px;
    left: 0;
    padding: 5px 10px;
    background-color: rgb(245, 245, 245);
    color: #9da2ad;
}




#skills h1{
    color: rgb(3, 0, 20);
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
}

#skills span{
    color: rgb(92, 234, 203);
    width: 120px;
    
}

#skills .name span{
    color: rgb(3, 0, 20);
    margin: 15px 0;
    box-shadow:  3.9px 3.9px 13px #BDBFC2,-3.9px -3.9px 13px #FFFFFF;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    transition: 0.2s;
    cursor: pointer;
}

#skills .name span:hover{
    margin: 15px 0;
    box-shadow: 3.9px 3.9px 13px #BDBFC2,  -3.9px -3.9px 13px #FFFFFF,
    inset 3.9px 3.9px 13px #BDBFC2, 
    inset -3.9px -3.9px 13px #FFFFFF;
}
 

#skills .name{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: 500;
    width: 8%;
    margin-right: 80px;
}

.bar{
    width: 400px;
    height: 25px;
    border-radius: 20px;
    box-shadow:  inset 6px 6px 8px #BDBFC2,
        inset -6px -6px 8px #FFFFFF;
}

.bar_2{
    width: 400px;
    height: 25px;
    border-radius: 20px;
    box-shadow:  inset 6px 6px 8px #BDBFC2,
        inset -6px -6px 8px #FFFFFF;
}

.bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bar .progress {
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgb(92, 234, 203), rgb(115, 172, 97));
    border-radius: 20px;
}

.bar:nth-child(1) .progress {
    width: 80%;
}

.bar:nth-child(2) .progress {
    width: 50%;
}

.bar:nth-child(3) .progress {
    width: 35%;
}


.bar_2 .progress_2 {
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, rgb(92, 234, 203), rgb(115, 172, 97));
    border-radius: 20px;
}

.bar_2:nth-child(1) .progress_2 {
    width: 30%;
}

.bar_2:nth-child(2) .progress_2 {
    width: 40%;
}

.bar_2:nth-child(3) .progress_2 {
    width: 30%;
}

@media screen and (max-width: 520px) {

.all_skills {
    flex-direction: column;
    font-size: 10px;
    margin: 12px;


}

.bar_2 {
    width: 100px;
    margin-left: 20px;
}

.bar {
    width: 100px;
    margin-left: 20px;
}

.skill_front::before{
    display:none;
}

.skill_back::before{
    display:none;
}

#skills span {
    width: 90px;
}

#skills{
    background-color: rgb(245, 245, 245);
    height: 90vh;
    margin-top: 180px;
}

.skill_back {
    margin-top: 12px;
}

}
/* Fiche personnage moi */

#caractéristiques{
    display: flex;
    justify-content: center;
    color: #fff;
    margin-top: 700px;
    border: 1px solid rgb(92, 234, 203);  
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #fff, 0 0 20px rgb(92, 234, 203), 0 0 30px rgb(3, 0, 20), 0 0 20px #710486, 0 0 20px #710486, 0 0 20px #710486, 0 0 20px #710486, 0 0 20px #710486;
}

#Caracteristiques-1{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 40px;
    padding: 30px;
}

#personne{
    
    background-image: url('Image/vitre.png');
    margin-bottom: 40px;
    border: 1px solid rgb(92, 234, 203);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.5) inset;
}


#texte-1{
    margin-bottom: 15px;
}

#physique{
    background-image: url('Image/vitre.png');
    margin-bottom: 40px;
    border: 1px solid rgb(92, 234, 203);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.5) inset;
}


#texte-2{
    margin-bottom: 15px;
}

#diplomes{
    background-image: url('Image/vitre.png');
    margin-bottom: 40px;
    border: 1px solid rgb(92, 234, 203);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.5) inset;
}

#texte-3{
    margin-bottom: 15px;
}

#autres{
    background-image: url('Image/vitre.png');
    margin-bottom: 40px;
    border: 1px solid rgb(92, 234, 203);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.5) inset;
    margin-left: 40px;
}

#caricature{
    width: 400px;
    height: 500px;
    border: 1px solid rgb(92, 234, 203);
    margin: auto;
   
}

#caricature img{
    height: 100%;
    width: 100%;
}

#caracteristiques-2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 40px;
    padding: 30px;
}

#competence-informatique{
    background-image: url('Image/vitre.png');
    margin-bottom: 40px;
    border: 1px solid rgb(92, 234, 203);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.5) inset;
}

#texte-4{
    margin-bottom: 15px;
}

#formation{
    background-image: url('Image/vitre.png');
    margin-bottom: 40px;
    height: 140px;
    border: 1px solid rgb(92, 234, 203);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.5) inset;
}

#texte-5{
    margin-bottom: 15px;
}

#xp{
    background-image: url('Image/vitre.png');
    border: 1px solid rgb(92, 234, 203);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.5) inset;
}

#autres-2{
    background-image: url('Image/vitre.png');
    margin-right: 40px;
    border: 1px solid rgb(92, 234, 203);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.5) inset;
}

#texte-6{
    margin-bottom: 15px;
}

#caricature img{
    width: 100%;
    
}

/* Parcour Scolaire */

#titre_parcour {
    text-align: center;
}

#parcours{
    color: rgb(204, 214, 246);
    margin-top: 150px 
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: rgb(3, 0, 20); 
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline span {
    color: rgb(92, 234, 203);
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: aqua;
  }
}




/* Mes projets */


#titre_mes_projets{
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
    color: rgb(204, 214, 246);
}

#all-projets {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

#projet-1 {
    background-color: rgb(36, 51, 77);
    display: flex;
    border-radius: 5px;
    border: solid rgb(92, 234, 203);
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.image_projet img {
 width: 450px;
 border-radius: 5px;
 margin-right: 10px;
 
}

.text-details {
    display: flex;
    flex-direction: column;
    font-size: 90%;
    margin-left: 10px;
}

#titre-projet-1 {
    margin-top: 30px;
    text-align: center;
    color: rgb(204, 214, 246);
    font-size: 40px;
}

#text-projet-1 {
    margin-top: 30px;
    text-align: center;
    color: rgb(136, 146, 176);
    max-width: 300px;
}

#languages-projet-1 {
    margin-top: 50px;
    text-align: center;
    word-spacing: 20px;
    color: rgb(126, 137, 167);
    opacity: 50%;
}

#projet-2{
    padding: 20px;
    margin: 20px;
    width: 270px;
    height: 280px;
    background-color: rgb(36, 51, 77);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: solid rgb(92, 234, 203)
}


#projet-2 img{
    width: 12%;
}

#languages-projet-2{
    margin-top: 67px;
    text-align: center;
    word-spacing: 20px;
    color: rgb(126, 137, 167);
    opacity: 50%;
}

#titre-projet-1 a{
    text-decoration: none;
    color: rgb(204, 214, 246);
}

#titre-projet-1 a:hover{
    color: aliceblue;
}

#titre_mes_projets span {
    color: rgb(92, 234, 203);
}



@media screen and (max-width: 720px) {
   
    #entete{
        display: flex;
        flex-direction: column;
        position: static;
        font-size: 15px;
    }
    
    #entete a{
        text-decoration: none;
        color: rgb(136, 146, 176);
     
    }

    #entete #logo{
        position: relative;
    }

    #Menu{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #logo img{
        margin-left: 10px;
    }

    #Intro{
        width: 80%; 
    }
    
    

    .waviy span {
        font-size: 30px;
    }
    
    #intro3{
        font-size: 25px;  
    }
    
    #intro4{ 
        font-size: 20px; 
    }

   #disparition{
        display: none;
    }

    
    #direction #apparition{
        display: block;
    }


    #direction{
        width: 30%;
    }


    #about-me{
        font-size: 15px;
        flex-direction: column;
        margin-top: 350px;
    }
    
    #titre-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(3, 0, 20);
       
    }

    #titre-logo h1{
        font-size: 19px;
    }
    
    #titre-logo img{
        width: 20px;
        height: 20%;
    }

    #image-moi{
        display: flex;
        justify-content: center;
    }
    #image-moi img{
        width: 30%; 
        margin-left: 0;
    }
    
    #text{
        width: 110%;
        color: rgb(145, 151, 168);
        font-size: 20px;
        margin-right: 0;
    }
    
    #text h1 span{
        color: rgb(92, 234, 203);
    }
   
    #caractéristiques{
        width: 95%;
    }

    #Caractéristiques-1{
        padding: 10px;
    }

    #caractéristiques-2{
        padding: 10px;
    }

    #caractéristiques li{
        font-size: 12px;
    }


    #caractéristiques h1{
        font-size: 15px;
    }

    #caricature{
        width: 300px;
        height: 400px;
    }

 }

 @media screen and (max-width: 480px) {

    #boutton-projet{
        display: flex;
        align-items: center;   
      
    }
    
    #direction{
        color: rgb(204, 214, 246);
        font-size: 15px;
        margin-bottom: 4px ;
        text-align: center;
        width: 40%;
    }

    #text{
       
        margin-right: 10%;
        color: rgb(145, 151, 168);
        font-size: 12px;
    }
    #intro1{
        font-size: 13px;
    }

    .waviy span{
        font-size: 20px;
    }

    #intro4{
        font-size: 17px;
    }

    #about-me{
        margin-top: 250px;
    }

    #caractéristiques{
        width: 95%;
    }

    #caractéristiques li{
        font-size: 9px;
    }


    #caractéristiques h1{
        font-size: 8px;
    }

    #Caracteristiques-1{
        margin-right: 5px;
    }

    #caracteristiques-2{
        margin-left: 5px;
    }

    #caricature{
        width: 200px;
        height: 200px;
    }

    #personne{
        margin-bottom: 15px;
    }

    #physique{
        margin-bottom: 15px;
    }

    #formation{
        height: 77px;
        margin-bottom: 15px;
    }

    #competence-informatique{
        margin-bottom: 15px;
    }
 }

 @media screen and (max-width: 445px) {
    #entete{
        margin: 15px;
        font-size: 10px;
    }

    #languages-projet-1{
        font-size: 10px;
    }

    #languages-projet-2{
        font-size: 10px;
        margin-top: 80px;
    }
    #text-projet-1{
        font-size: 12px;
    }

    #entete #logo img{
        height: 60%;
    }

    #titre-projet-1{
        font-size: 15px;
    }

    #projet-1{
        height: 230px;
    }

    #projet-2{
        height: 230px;
    }

    
 }

 @media screen and (max-width: 378px) {
    .waviy span{
        font-size: 16px;
    }
 }

